.form {
    width: 245px;
    height: 470px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: black;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    align-self: center;

    h3 {
        color: rgb(212, 211, 211);
        padding: 4px;
    }

    fieldset {
        background-color: white;
        border: none;
        padding: 5px;
        height: 75px;
        display: flex;
        flex-direction: column;

        label {
            padding: 5px 0px;
            align-self: self-start;
        }

        .formInput {
            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
                padding: 2px;
                outline: none;
            }
        }
    }

    .form-btn {
        margin-top: 10px;
        border-radius: 50px;
        font-weight: bold;
    }
}

.edit-contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    input {
        border: none;
        outline: none;
        background-color: transparent;

        font-size: 18px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    select {
        border: none;
        background-color: transparent;
        outline: none;

        font-size: 18px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        width: 120px;

        option {
            text-align: center;
        }
    }

    .edit-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-right: 36px;
    }

    .save-section {
        text-align: center;
        width: 100%;

        .save {
            padding: 15px;
            background: #11cd8e;
        }
    }
}