<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Edit contact</title>
</head>
<body>
<main>

    <h2>Edit Contact</h2>

    <div class="contact">
        <form class="edit-contact-form" th:action="@{'/edit/' + ${contact.id}}" th:method="PUT" th:object="${editRequest}">
            <div class="edit-section">
                <img class="image" th:src="${#strings.isEmpty(editRequest.avatar) ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : editRequest.avatar}" alt="contact avatar">
                <input type="text" placeholder="Img Url" id="avatar" th:field="*{avatar}"/>
            </div>
            <div class="edit-section">
                <input type="text" placeholder="First name" id="firstName" th:field="*{firstName}"/>
                <input type="text" placeholder="Last name" id="lastName" th:field="*{lastName}"/>
            </div>
            <input type="text" placeholder="XXXX XXX XXX" id="phoneNumber" th:field="*{phoneNumber}"/>
            <input type="text" placeholder="City" id="region" th:field="*{region}"/>
            <select name="type" id="type" th:field="*{type}">
                <option th:each="type : ${T(app.model.ContactType).values()}" th:value="${type}" th:text="${#strings.capitalize(#strings.toLowerCase(type))}"></option>
            </select>

            <div class="save-section">
                <button type="submit" class="button save"><i class="fa-solid fa-floppy-disk"></i></button>
            </div>

        </form>

    </div>

</main>
</body>
</html>