<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Edit contact</title>
</head>
<body>
<main>
    <form class="form" th:action="@{/edit}" th:method="PUT" th:object="${contactRequest}">

        <h3>Edit Contact</h3>

        <fieldset>
            <label for="firstName">First name</label>
            <div class="formInput">
                <input type="text" placeholder="First name" id="firstName" th:field="*{firstName}"/>
            </div>
        </fieldset>

        <fieldset>
            <label for="lastName">Last name</label>
            <div class="formInput">
                <input type="text" placeholder="Last name" id="lastName" th:field="*{lastName}"/>
            </div>
        </fieldset>

        <fieldset>
            <label for="phoneNumber">Number</label>
            <div class="formInput">
                <input type="text" placeholder="XXXX XXX XXX" id="phoneNumber" th:field="*{phoneNumber}"/>
            </div>
        </fieldset>

        <fieldset>
            <label for="avatar">Avatar</label>
            <div class="formInput">
                <input type="text" placeholder="Img Url" id="avatar" th:field="*{avatar}"/>
            </div>
        </fieldset>

        <fieldset>
            <label for="region">Region</label>
            <div class="formInput">
                <input type="text" placeholder="City" id="region" th:field="*{region}" required/>
            </div>
        </fieldset>


        <button type="submit" class="button form-btn">Save</button>

    </form>

</main>
</body>
</html>